body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #2E2F42;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0px 16px;
}

@media screen and (min-width: 428px) and (max-width: 767px) {
  .container {
    width: 428px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
    padding: 0px 15px;
  }
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.17;
}
.logo .web-color {
  color: #4D5AE5;
}

.active-link::after {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404BBF;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .active-link::after {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
}

.h3-title {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.h2-title {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
}

.btn {
  display: inline-block;
  padding: 16px 32px;
  border-radius: 4px;
  cursor: pointer;
}

.header {
  border-bottom: 1px solid #E7E9FC;
  -webkit-box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
          box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header__logo {
  display: block;
  padding: 24px 0px;
}
@media screen and (max-width: 767px) {
  .header__logo {
    padding: 24px 0px 22px 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__logo {
    margin-right: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 76px;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
  }
}

.nav__item {
  font-weight: 500;
  line-height: 1.5;
}

.nav__link {
  position: relative;
  padding: 25px 0px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: #404BBF;
}

.header__address {
  margin-left: 121px;
}
@media screen and (min-width: 1199px) {
  .header__address {
    margin-left: auto;
  }
}

.address__list {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 12px;
    padding: 16px 0px;
  }
}
@media screen and (min-width: 1200px) {
  .address__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
  }
}

.address__item {
  font-style: normal;
  color: #434455;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address__item {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .address__item {
    line-height: 1.5;
  }
}

.address__link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .address__link {
    padding: 25px 0px;
  }
}
.address__link:hover, .address__link:focus {
  color: #404BBF;
}

.hero {
  padding: 188px 0px;
}
@media screen and (max-width: 1199px) {
  .hero {
    padding: 112px 0px;
  }
}

.overlay {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #2E2F42;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 427px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url("../images/studio-tab/hero-section/320px-427px/hero-bckg-428-1x.jpg");
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/studio-tab/hero-section/320px-427px/hero-bckg-428-1x.jpg");
  }
}
@media screen and (max-width: 427px) and (min-device-pixel-ratio: 2), screen and (max-width: 427px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 427px) and (min-resolution: 192dpi), screen and (max-width: 427px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url(../images/studio-tab/hero-section/320px-427px/hero-bckg-856-2x.jpg);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/studio-tab/hero-section/320px-427px/hero-bckg-856-2x.jpg);
  }
}
@media screen and (min-width: 428px) and (max-width: 767px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url("../images/studio-tab/hero-section/428px-767px/hero-bckg-768-1x.jpg");
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/studio-tab/hero-section/428px-767px/hero-bckg-768-1x.jpg");
  }
}
@media screen and (min-width: 428px) and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (min-width: 428px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 428px) and (max-width: 767px) and (min-resolution: 192dpi), screen and (min-width: 428px) and (max-width: 767px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url(../images/studio-tab/hero-section/428px-767px/hero-bckg-1536-2x.jpg);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/studio-tab/hero-section/428px-767px/hero-bckg-1536-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url("../images/studio-tab/hero-section/768px+/hero-bckg-1440-1x.jpg");
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/studio-tab/hero-section/768px+/hero-bckg-1440-1x.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url(../images/studio-tab/hero-section/768px+/hero-bckg-2880-2x.jpg);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/studio-tab/hero-section/768px+/hero-bckg-2880-2x.jpg);
  }
}

.hero__content {
  width: 496px;
  text-align: center;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .hero__content {
    max-width: 320px;
  }
}

.h1-title {
  display: block;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: #FFFFFF;
  margin-bottom: 48px;
}
@media screen and (max-width: 767px) {
  .h1-title {
    font-size: 36px;
    line-height: 1.11;
    margin-bottom: 72px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .h1-title {
    margin-bottom: 36px;
  }
}

.hero-btn {
  min-width: 169px;
  min-height: 56px;
  font-weight: 500;
  line-height: 1.5;
  border: none;
  color: #FFFFFF;
  background-color: #4D5AE5;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover, .hero-btn:focus {
  background-color: #404BBF;
}

.features {
  padding: 120px 0px;
}
@media screen and (max-width: 1199px) {
  .features {
    padding: 96px 0px;
  }
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}
@media screen and (max-width: 767px) {
  .features__list {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__list {
    row-gap: 72px;
  }
}

.features__item {
  width: calc((100% - 72px) / 4);
}
@media screen and (max-width: 767px) {
  .features__item {
    width: 100%;
  }
  .features__item:not(:last-child) {
    margin-bottom: 72px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__item {
    width: calc((100% - 24px) / 2);
  }
}

.features__icon-container {
  height: 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  background-color: #F4F4FD;
  margin-bottom: 8px;
}
@media screen and (max-width: 1199px) {
  .features__icon-container {
    display: none;
  }
}

.features__title {
  margin-bottom: 8px;
  text-align: start;
}
@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}
@media screen and (max-width: 1199px) {
  .features__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
  }
}

.features__text {
  max-width: 264px;
  line-height: 1.5;
  color: #434455;
}
@media screen and (max-width: 767px) {
  .features__text {
    font-weight: 500;
    max-width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__text {
    font-weight: 500;
    max-width: 356px;
  }
}

.work {
  padding-bottom: 120px;
}
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__title {
  display: block;
  text-align: center;
  margin-bottom: 72px;
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}

.work__item {
  width: calc((100% - 48px) / 3);
}

.team {
  padding: 120px 0px;
  background-color: #F4F4FD;
}
@media screen and (max-width: 1199px) {
  .team {
    padding: 96px 0px;
  }
}

@media screen and (min-width: 428px) and (max-width: 767px) {
  .team__container {
    padding: 0px 82px;
  }
}

.team__title {
  display: block;
  text-align: center;
  margin-bottom: 72px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .team__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 72px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    row-gap: 64px;
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.team__item {
  max-width: 264px;
  -webkit-box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
          box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background-color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1199px) {
  .team__item {
    width: calc((100% - 72px) / 4);
  }
}

.team__item-desc {
  padding: 32px 16px;
}

.team__item-title {
  margin-bottom: 8px;
}

.team__text {
  margin-bottom: 8px;
}

.team__socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.team__socials-link {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: #4D5AE5;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__socials-link:hover, .team__socials-link:focus {
  background-color: #404BBF;
}

.team__icon {
  width: 16px;
  height: 16px;
  fill: #F4F4FD;
}

.customers {
  padding: 120px 0px;
}
@media screen and (max-width: 1199px) {
  .customers {
    padding: 96px 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers__container {
    padding: 0px 108px;
  }
}

.customers__title {
  display: block;
  text-align: center;
  margin-bottom: 72px;
}

.customers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
@media screen and (max-width: 767px) {
  .customers__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
    row-gap: 72px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 72px;
  }
}

.customers__item {
  width: calc((100% - 120px) / 6);
}
@media screen and (max-width: 767px) {
  .customers__item {
    width: calc((100% - 16px) / 2);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers__item {
    width: calc((100% - 48px) / 3);
  }
}

.customers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 88px;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:hover, .customers__link:focus {
  border-color: #404BBF;
}
.customers__link:hover .customers__icon, .customers__link:focus .customers__icon {
  fill: #404BBF;
}

.customers__icon {
  width: 104px;
  height: 56px;
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  padding: 100px 0px;
  background-color: #2E2F42;
}
@media screen and (max-width: 1199px) {
  .footer {
    padding: 96px 0px;
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .footer__container {
    display: block;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    display: block;
    padding: 0px 108px;
  }
}

.footer__content-and-socials-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
}
@media screen and (max-width: 767px) {
  .footer__content-and-socials-container {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__content-and-socials-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__content-and-socials-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 72px;
  }
}

.footer__content {
  display: inline-block;
  margin-right: 120px;
}
@media screen and (max-width: 767px) {
  .footer__content {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__content {
    margin-right: 0px;
  }
}

.footer__logo {
  display: block;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.footer__text {
  display: block;
  width: 264px;
  color: #F4F4FD;
}
@media screen and (max-width: 767px) {
  .footer__text {
    width: 268px;
    text-align: start;
  }
}

.footer__socials-container {
  width: 208px;
  height: 80px;
  margin-right: 80px;
}
@media screen and (max-width: 767px) {
  .footer__socials-container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__socials-container {
    margin-right: 0px;
    margin-bottom: 0px;
  }
}

.footer__title {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.footer__socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.footer__socials-item {
  width: calc((100% - 48px) / 4);
}

.footer__socials-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__socials-link:hover, .footer__socials-link:focus {
  background-color: #31D0AA;
}

.footer__icon {
  width: 24px;
  height: 24px;
  fill: #F4F4FD;
}

.footer__form-container {
  height: 80px;
}

.footer__form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .footer__form-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 16px;
  }
}
@media screen and (min-width: 768px) {
  .footer__form-group {
    gap: 24px;
  }
}

.footer__form-input {
  width: 264px;
  height: 40px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding: 8px 0px 8px 16px;
  outline: none;
  border-radius: 4px;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  background-color: transparent;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .footer__form-input {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-right: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__form-input {
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
}
.footer__form-input:focus-within {
  border-color: #4D5AE5;
}
.footer__form-input::-webkit-input-placeholder {
  color: #FFFFFF;
}
.footer__form-input::-moz-placeholder {
  color: #FFFFFF;
}
.footer__form-input:-ms-input-placeholder {
  color: #FFFFFF;
}
.footer__form-input::-ms-input-placeholder {
  color: #FFFFFF;
}
.footer__form-input::placeholder {
  color: #FFFFFF;
}
@media screen and (max-width: 1199px) {
  .footer__form-input::-webkit-input-placeholder {
    color: #FFFFFF;
    opacity: 0.6;
  }
  .footer__form-input::-moz-placeholder {
    color: #FFFFFF;
    opacity: 0.6;
  }
  .footer__form-input:-ms-input-placeholder {
    color: #FFFFFF;
    opacity: 0.6;
  }
  .footer__form-input::-ms-input-placeholder {
    color: #FFFFFF;
    opacity: 0.6;
  }
  .footer__form-input::placeholder {
    color: #FFFFFF;
    opacity: 0.6;
  }
}

.footer__form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  min-width: 165px;
  padding: 8px 24px;
  font-weight: 500;
  line-height: 1.5;
  border: none;
  color: #FFFFFF;
  background-color: #4D5AE5;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__form-btn:hover, .footer__form-btn:focus {
  background-color: #404BBF;
}

.footer__form-btn-icon {
  width: 24px;
  height: 24px;
  fill: #FFFFFF;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1199px) {
  .backdrop {
    overflow-y: scroll;
  }
}

.backdrop.is-hidden {
  visibility: 0;
  opacity: 0;
  pointer-events: none;
}

.backdrop__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  padding: 72px 24px 24px 24px;
  border-radius: 4px;
  background-color: #FCFCFC;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1199px) {
  .backdrop__modal {
    top: 10%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    max-width: 93%;
  }
}
@media screen and (min-width: 428px) and (max-width: 767px) {
  .backdrop__modal {
    max-width: 392px;
  }
}
@media screen and (min-width: 768px) {
  .backdrop__modal {
    max-width: 408px;
  }
}

.modal__btn-close {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(-24px, 24px);
          transform: translate(-24px, 24px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #E7E9FC;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn-close:hover, .modal__btn-close:focus {
  background-color: #404BBF;
  border: transparent;
}
.modal__btn-close:hover .modal__btn-close-icon, .modal__btn-close:focus .modal__btn-close-icon {
  fill: #FFFFFF;
}

.modal__btn-close-icon {
  width: 8px;
  height: 8px;
  fill: #2E2F42;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
}

.modal__input-container {
  position: relative;
  margin-bottom: 8px;
}

.modal__input-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #AFB1B8;
  margin-bottom: 4px;
}

.modal__input-field {
  width: 100%;
  height: 40px;
  padding: 11px 16px 11px 38px;
  outline: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  color: #2E2F42;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input-field:focus-within {
  border-color: #4D5AE5;
}
.modal__input-field:focus-within + .modal__input-icon {
  fill: #4D5AE5;
}

.modal__input-field.comment {
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding: 8px 16px 0px 16px;
  margin-bottom: 16px;
}
.modal__input-field.comment::-webkit-input-placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.modal__input-field.comment::-moz-placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.modal__input-field.comment:-ms-input-placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.modal__input-field.comment::-ms-input-placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.modal__input-field.comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal__input-icon {
  position: absolute;
  top: 8px;
  left: 16px;
  width: 18px;
  height: 24px;
  color: #2E2F42;
  fill: #2E2F42;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input-icon.person {
  top: 11px;
  height: 18px;
}

.modal__checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  gap: 8px;
  color: #AFB1B8;
  margin-bottom: 24px;
}

.checkbox-icon {
  width: 16px;
  height: 16px;
  padding: 4px 3px;
  border-radius: 2px;
  border: 1px solid #2E2F42;
  fill: transparent;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox:checked + .checkbox-icon {
  fill: #F4F4FD;
  background-color: #404BBF;
  border-color: transparent;
}

.modal__privacy-policy-link {
  text-decoration: underline;
  color: #4D5AE5;
}

.modal-btn-send {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  min-width: 169px;
  height: 56px;
  border: none;
  line-height: 1.5;
  color: #FFFFFF;
  background-color: #4D5AE5;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-send:hover, .modal-btn-send:focus {
  background-color: #404BBF;
}

.header__mobile-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .header__mobile-btn {
    display: none;
  }
}

.header__mobile-btn-icon {
  width: 32px;
  height: 32px;
  stroke: #2E2F42;
  -webkit-transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__mobile-btn:hover .header__mobile-btn-icon, .header__mobile-btn:focus .header__mobile-btn-icon {
  stroke: #404BBF;
}

.header__mobile-container {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 80px 35px 40px 40px;
  background-color: #FFFFFF;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .header__mobile-container {
    display: none;
  }
}

.header__mobile-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-container__btn-close {
  background: rgba(231, 233, 252, 0.1);
}

.mobile-container__tabs-container {
  display: inline-block;
}

.tabs-container__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.tabs-container__item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tabs-container__item:hover, .tabs-container__item:focus {
  color: #404BBF;
}

.address-socials__mobile-address {
  font-style: normal;
}

.mobile-address__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  margin-bottom: 48px;
}

.mobile-address__item {
  color: #434455;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-address__item:hover, .mobile-address__item:focus {
  color: #404BBF;
}

.mobile-address__link.tel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
}
@media screen and (max-width: 427px) {
  .mobile-address__link.tel {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.11;
  }
}

.mobile-address__link.mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.mobile-socials__list {
  gap: 64px;
}
@media screen and (min-width: 320px) and (max-width: 427px) {
  .mobile-socials__list {
    gap: 28px;
  }
}

.active-mobile-tab {
  color: #404BBF;
}/*# sourceMappingURL=main.css.map */