body {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: var(--var-2-navy-blue);
}

/* VARIABLES */

:root {
    --var-1-iris: #4D5AE5;
    --var-2-navy-blue: #2E2F42;
    --var-3-slate: #434455;
    --var-4-white: #FFFFFF;
    --var-5-cornflower: #E7E9FC;
    --var-6-ocean: #404BBF;
    --var-7-cloud: #F4F4FD;
    --var-8-light-slate: #AFB1B8;
    --var-9-green: #31D0AA;
    --var-10-dairy: #FCFCFC;
    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* RESETS */

*,
::after,
::before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}


a {
    text-decoration: none;
    color: inherit;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

textarea {
    resize: none;
}

/* HIDDEN CONTENT */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ALL BUTTONS */

.btn {
    display: inline-block;
    padding: 16px 32px;
    border-radius: 4px;
    cursor: pointer;
}

/* CONTAINER */

/* Responsive Mobile Container */
.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0px 16px;
}

/* Mobile Container */
@media screen and (min-width: 428px) and (max-width: 767px) {
    .container {
        width: 428px;
    }
}

/* Tablet Container */
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .container {
        width: 768px;
    }
}

/* PC Container */
@media screen and (min-width: 1200px) {
    .container {
        width: 1158px;
        padding: 0px 15px;
    }
}

/* LOGO */

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
}

/* ACTIVE LINK */

.active-link::after {
    position: absolute;
    bottom: 0;
    transform: translateY(1px);
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--var-6-ocean);
}

/* Tablet Active-Link-After */
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .active-link::after {
        transform: translateY(3px);
    }
}

/* ACTIVE MOBILE TAB */

.active-mobile-tab {
    color: var(--var-6-ocean);
}

/* H3 TITLE */

.h3-title {
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

/* H2 TITLE */

.h2-title {
    display: block;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
}

/* //////////////////////// HEADER SECTION //////////////////////// */

.header-section {
    border-bottom: 1px solid var(--var-5-cornflower);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

/* Mobile Header-Container */
@media screen and (max-width: 767px) {
    .header-container {
        justify-content: space-between;
    }
}

.web-color {
    color: var(--var-1-iris);
}

.top-logo {
    display: block;
    padding: 24px 0px;
}

/* Mobile Top-Logo */
@media screen and (max-width: 767px) {
    .top-logo {
        padding: 24px 0px 22px 0px;
    }
}

/* Tablet Top-Logo */
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .top-logo {
        margin-right: 120px;
    }
}

/* PC Top-Logo */
@media screen and (min-width: 1200px) {
    .top-logo {
        margin-right: 76px;
    }
}

.nav-section {
    display: flex;
    align-items: center;
}

.tab-list {
    display: none;
}

/* Tablet / PC Tab-List */
@media screen and (min-width: 768px) {
    .tab-list {
        display: flex;
        gap: 40px;
    }
}

.tab-item {
    font-weight: 500;
    line-height: 1.5;
}

.tab-link-item {
    position: relative;
    padding: 25px 0px;
    transition: color var(--animation);
}

.tab-link-item:hover,
.tab-link-item:focus {
    color: var(--var-6-ocean);
}

.address-section {
    margin-left: 121px;  
}

/* PC Address-Section */
@media screen and (min-width: 1199px) {
    .address-section {
        margin-left: auto;
    }
}

.address-list {
    display: none;
}

/* Tablet Address-List */
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 16px 0px;
    }
}

/* PC Address-List */
@media screen and (min-width: 1200px) {
    .address-list {
        display: flex;
        gap: 40px;
    }
}

.address-item {
    font-style: normal;
    color: var(--var-3-slate);
}

/* Tablet Address-Item */
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .address-item {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
    }
}

/* PC Address-Item */
@media screen and (min-width: 1200px) {
    .address-item {
        line-height: 1.5;
    }
}

.address-link-item {
    transition: color var(--animation);
}

/* PC Address-Link-Item */
@media screen and (min-width: 1200px) {
    .address-link-item {
        padding: 25px 0px;
    }
}

.address-link-item:hover,
.address-link-item:focus {
    color: var(--var-6-ocean);
}

.header-mobile-btn {
    display: flex;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
}

/* Tablet / PC Header-Mobile-Btn */
@media screen and (min-width: 768px) {
    .header-mobile-btn {
        display: none;
    }
}

.header-mobile-btn-icon {
    width: 32px;
    height: 32px;
    stroke: var(--var-2-navy-blue);
    transition: stroke var(--animation);
}

.header-mobile-btn:hover .header-mobile-btn-icon,
.header-mobile-btn:focus .header-mobile-btn-icon {
    stroke: var(--var-6-ocean);
}

/* ///////////////////////// HERO SECTION ///////////////////////// */

.hero-section {
    padding: 188px 0px;
}

/* Mobile / Tablet Hero-Section */
@media screen and (max-width: 1199px) {
    .hero-section {
        padding: 112px 0px;
    }
}

.overlay {
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--var-2-navy-blue);
    background-size: cover;
    background-position: center;
}

/* Responsive Mobile Overlay */
@media screen and (max-width: 427px) {
    .overlay {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url('../images/studio-tab/hero-section/320px-427px/hero-bckg-428-1x.jpg');
    }
    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .overlay {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url(../images/studio-tab/hero-section/320px-427px/hero-bckg-856-2x.jpg);
        }
    }
}

/* Mobile Overlay */
@media screen and (min-width: 428px) and (max-width: 767px) {
    .overlay {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url('../images/studio-tab/hero-section/428px-767px/hero-bckg-768-1x.jpg');
    }
    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .overlay {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url(../images/studio-tab/hero-section/428px-767px/hero-bckg-1536-2x.jpg);
        }
    }
}

/* Tablet / PC Overlay */
@media screen and (min-width: 768px) {
    .overlay {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url('../images/studio-tab/hero-section/768px+/hero-bckg-1440-1x.jpg');
    }
    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .overlay {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url(../images/studio-tab/hero-section/768px+/hero-bckg-2880-2x.jpg);
        }
    }
}

.hero-content {
    width: 496px;
    text-align: center;
    margin: 0 auto;
}

/* Mobile Hero-Content */
@media screen and (max-width: 767px) {
    .hero-content {
        max-width: 320px;
    }
}

.h1-title {
    display: block;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: var(--var-4-white);
    margin-bottom: 48px;
}

/* Mobile H1-Title */
@media screen and (max-width: 767px) {
    .h1-title {
        font-size: 36px;
        line-height: 1.11;
        margin-bottom: 72px;
    }
}

/* Tablet H1-Title */
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .h1-title {
        margin-bottom: 36px;
    }
}

.hero-btn {
    min-width: 169px;
    min-height: 56px;
    font-weight: 500;
    line-height: 1.5;
    border: none;
    color: var(--var-4-white);
    background-color: var(--var-1-iris);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color var(--animation);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--var-6-ocean);
}

/* /////////////////////// FEATURES SECTION /////////////////////// */

.features-section {
    padding: 120px 0px;
}

/* Mobile / Tablet Features-Section */
@media screen and (max-width: 1199px) {
    .features-section {
        padding: 96px 0px;
    }
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

/* Mobile Features-List */
@media screen and (max-width: 767px) {
    .features-list {
        display: block;
    }
}

/* Tablet Features-List */
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .features-list {
        row-gap: 72px;
    }
}

.features-item {
    width: calc((100% - 72px) / 4)
}

/* Mobile Features-Item */
@media screen and (max-width: 767px) {
    .features-item {
        width: 100%;
    }
    .features-item:not(:last-child) {
        margin-bottom: 72px;
    }
}

/* Tablet Features-Item */
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .features-item {
        width: calc((100% - 24px) / 2);
    }
}

.features-icon-container {
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: var(--var-7-cloud);
    margin-bottom: 8px;
}

/* Mobile / Tablet Features-Icon-Container */
@media screen and (max-width: 1199px) {
    .features-icon-container {
        display: none;
    }
}

.features-title {
    margin-bottom: 8px;
    text-align: start;
}

/* Mobile Features-Title */
@media screen and (max-width: 767px) {
    .features-title {
        text-align: center;
    }
}

/* Mobile / Tablet Features-Title */
@media screen and (max-width: 1199px) {
    .features-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
    }
}

.features-text {
    max-width: 264px;
    line-height: 1.5;
    color: var(--var-3-slate);
}

/* Mobile Features-Text */
@media screen and (max-width: 767px) {
    .features-text {
        font-weight: 500;
        max-width: 100%;
    }
}

/* Tablet Features-Text */
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .features-text {
        font-weight: 500;
        max-width: 356px;
    }
}

/* ////////////////////////// WORK SECTION //////////////////////// */

.work-section {
    padding-bottom: 120px;
}

/* Mobile / Tablet Work-Section */
@media screen and (max-width: 1199px) {
    .work-section {
        display: none;
    }
}

.work-title {
    display: block;
    text-align: center;
    margin-bottom: 72px;
}

.work-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.work-item {
    width: calc((100% - 48px) /3);
}

/* ////////////////////////// TEAM SECTION //////////////////////// */

.team-section {
    padding: 120px 0px;
    background-color: var(--var-7-cloud);
}

/* Mobile / Tablet Team-Section */
@media screen and (max-width: 1199px) {
    .team-section {
        padding: 96px 0px;
    }
}

/* Mobile Team-Container */
@media screen and (min-width: 428px) and (max-width: 767px) {
    .team-container {
        padding: 0px 82px;
    }
}

.team-title {
    display: block;
    text-align: center;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    text-align: center;
}

/* Mobile Team-List */
@media screen and (max-width: 767px) {
    .team-list {
        flex-direction: column;
        gap: 72px;
        align-items: center;
    }
}

/* Tablet Team-List */
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .team-list {
        row-gap: 64px;
        column-gap: 24px;
        justify-content: center;
    }
}

.team-item {
    max-width: 264px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--var-4-white);
}

/* Tablet Team-Item */
@media screen and (min-width: 768px) {
    .team-item {
        width: calc((100% - 24px) / 2);
    }
}

/* PC Team-Item */
@media screen and (min-width: 1199px) {
    .team-item {
        width: calc((100% - 72px) / 4);
    }
}

.team-item-desc {
    padding: 32px 16px;
}

.team-item-title {
    margin-bottom: 8px;
}

.team-text {
    margin-bottom: 8px;
}

.team-socials-list {
    display: flex;
    gap: 24px
}

.team-socials-item-link {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--var-1-iris);
    transition: background-color var(--animation);
}

.team-socials-item-link:hover,
.team-socials-item-link:focus {
    background-color: var(--var-6-ocean);
}

.team-icon {
    width: 16px;
    height: 16px;
    fill: var(--var-7-cloud);
}

/* /////////////////////// CUSTOMERS SECTION ////////////////////// */

.customers-section {
    padding: 120px 0px;
}

/* Mobile / Tablet Customers-Section */
@media screen and (max-width: 1199px) {
    .customers-section {
        padding: 96px 0px;
    }
}

/* Tablet Customers-Container */
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .customers-container {
        padding: 0px 108px;
    }
}

.customers-title {
    display: block;
    text-align: center;
    margin-bottom: 72px;
}

.customers-list {
    display: flex;
    gap: 24px;
}

/* Mobile Customers-List */
@media screen and (max-width: 767px) {
    .customers-list {
        flex-wrap: wrap;
        column-gap: 16px;
        row-gap: 72px;
    }
}

/* Tablet Customers-List */
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .customers-list {
        flex-wrap: wrap;
        row-gap: 72px;
    }
}

.customers-item {
    width: calc((100% - 120px) / 6);
}

/* Mobile Customers-Item */
@media screen and (max-width: 767px) {
    .customers-item {
        width: calc((100% - 16px) / 2);
    }
}

/* Tablet Customers-Item */
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .customers-item {
        width: calc((100% - 48px) / 3);
    }
}

.customers-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 88px;
    border-radius: 4px;
    border: 1px solid var(--var-8-light-slate);
    transition: border-color var(--animation);
}

.customers-item-link:hover,
.customers-item-link:focus {
    border-color: var(--var-6-ocean);
}

.customers-icon {
    width: 104px;
    height: 56px;
    fill: var(--var-8-light-slate);
    transition: fill var(--animation);
}

.customers-item-link:hover .customers-icon,
.customers-item-link:focus .customers-icon {
    fill: var(--var-6-ocean);
}

/* ///////////////////////// FOOTER SECTION /////////////////////// */

.footer-section {
    padding: 100px 0px;
    background-color: var(--var-2-navy-blue);
}

/* Mobile / Tablet Footer-Section */
@media screen and (max-width: 1199px) {
    .footer-section {
        padding: 96px 0px;
    }
}

.footer-container {
    display: flex;
}

/* Mobile Footer-Container */
@media screen and (max-width: 767px) {
    .footer-container {
        display: block;
        text-align: center;
    }
}

/* Tablet Footer-Container */
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .footer-container {
        display: block;
        padding: 0px 108px;
    }
}

.footer-content-and-socials-container {
        display: flex;
        margin-bottom: 0px;
}

/* Mobile Footer-Content-And-Socials-Container */
@media screen and (max-width: 767px) {
    .footer-content-and-socials-container {
        display: block;
    }
}

/* Tablet Footer-Content-And-Socials-Container */
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .footer-content-and-socials-container {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }
}

/* Tablet /PC Footer-Content-And-Socials-Container */
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .footer-content-and-socials-container {
        display: flex;
        margin-bottom: 72px;
    }
}

.footer-content {
    display: inline-block;
    margin-right: 120px;
}

/* Mobile Footer-Content */
@media screen and (max-width: 767px) {
    .footer-content {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 72px;
    }
}

/* Tablet Footer-Content */
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .footer-content {
        margin-right: 0px;
    }
}

.bot-logo {
    display: block;
    color: var(--var-4-white);
    margin-bottom: 16px;
}

.footer-text {
    display: block;
    width: 264px;
    color: var(--var-7-cloud);
}

/* Mobile Footer-Text */
@media screen and (max-width: 767px) {
    .footer-text {
        width: 268px;
        text-align: start;
    }
}

.footer-socials-container {
    width: 208px;
    height: 80px;
    margin-right: 80px;
}

/* Mobile Footer-Socials-Container */
@media screen and (max-width: 767px) {
    .footer-socials-container {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 72px;
    }
}

/* Tablet Footer-Socials-Container */
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .footer-socials-container {
        margin-right: 0px;
        margin-bottom: 0px;
    }
}

.footer-title {
    display: block;
    font-size: 16px;
    line-height: 1.5;
    color: var(--var-4-white);
    margin-bottom: 16px;
}

.footer-socials-list {
    display: flex;
    gap: 16px;
}

.footer-socials-item {
    width: calc((100% - 48px) / 4);
}

.footer-socials-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--animation); 
}

.footer-icon {
    width: 24px;
    height: 24px;
    fill: var(--var-7-cloud);
}

.footer-socials-item-link:hover,
.footer-socials-item-link:focus {
    background-color: var(--var-9-green);
}

.footer-form-container {
    height: 80px;
}

.footer-form-group {
    display: flex;
}

/* Mobile Footer-Form-Group */
@media screen and (max-width: 767px) {
    .footer-form-group {
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
}

/* Tablet / PC Footer-Form-Group */
@media screen and (min-width: 768px) {
    .footer-form-group {
        gap: 24px;
    }
}

.footer-form-input {
    width: 264px;
    height: 40px;
    font-size: 12px;
    line-height: 2.0;
    letter-spacing: 0.04em;
    padding: 8px 0px 8px 16px;
    outline: none;
    border-radius: 4px;
    border: 1px solid var(--var-4-white);
    color: var(--var-4-white);
    background-color: transparent;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    transition: border-color var(--animation);
}

/* Mobile Footer-Form-Input */
@media screen and (max-width: 767px) {
    .footer-form-input {
        width: 100%;
        border: 1px solid rgba(255, 255, 255, 0.3);
        margin-right: 0px;
    }
}

/* Tablet Footer-Form-Input */
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .footer-form-input {
        border: 1px solid rgba(255, 255, 255, 0.3);
    }
}

.footer-form-input:focus-within {
    border-color: var(--var-1-iris);
}

.footer-form-input::placeholder {
    color: var(--var-4-white);
}

/* Mobile /Tablet Footer-Form-Input-Placeholder */
@media screen and (max-width: 1199px) {
    .footer-form-input::placeholder {
        color: var(--var-4-white);
        opacity: 0.6;
    }
}

.footer-form-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    min-width: 165px;
    padding: 8px 24px;
    font-weight: 500;
    line-height: 1.5;
    border: none;
    color: var(--var-4-white);
    background-color: var(--var-1-iris);
    transition: background-color var(--animation);
}

.footer-form-btn:hover,
.footer-form-btn:focus {
    background-color: var(--var-6-ocean);
}

.footer-form-btn-icon {
    width: 24px;
    height: 24px;
    fill: var(--var-4-white);
}

/* ///////////////////////// MODAL WINDOW ///////////////////////// */

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity var(--animation);
}

/* Mobile / Tablet Modal-Backdrop */
@media screen and (max-width: 1199px) {
    .modal-backdrop {
        overflow-y: scroll;
    }
}

.modal-backdrop.is-hidden {
    visibility: 0;
    opacity: 0;
    pointer-events: none;
}

.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 72px 24px 24px 24px;
    border-radius: 4px;
    background-color: var(--var-10-dairy);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform var(--animation);
}

/* Responsive Mobile / Tablet Modal-Container */
@media screen and (max-width: 1199px) {
    .modal-container {
        top: 10%;
        transform: translateX(-50%);
        max-width: 93%;
    }
}

/* Mobile Modal-Container */
@media screen and (min-width: 428px) and (max-width: 767px) {
    .modal-container {
        max-width: 392px;
    }
}

/* Tablet / PC Modal-Container */
@media screen and (min-width: 768px) {
    .modal-container {
        max-width: 408px;
    }
}

.modal-btn-close {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-24px, 24px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--var-5-cornflower);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color var(--animation),
    fill var(--animation), border var(--animation);
}

.modal-btn-close:hover,
.modal-btn-close:focus {
    background-color: var(--var-6-ocean);
    border: transparent;
}

.modal-btn-close-icon {
    width: 8px;
    height: 8px;
    fill: var(--var-2-navy-blue);
    transition: fill var(--animation);
}

.modal-btn-close:hover .modal-btn-close-icon,
.modal-btn-close:focus .modal-btn-close-icon {
    fill: var(--var-4-white);
}

.modal-title {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 16px;
}

.modal-input-container {
    position: relative;
    margin-bottom: 8px;
}

.modal-input-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--var-8-light-slate);
    margin-bottom: 4px;
}

.modal-input-field {
    width: 100%;
    height: 40px;
    padding: 11px 16px 11px 38px;
    outline: none;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    color: var(--var-2-navy-blue);
    transition: border-color var(--animation);
}

.modal-input-field.comment {
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    padding: 8px 16px 0px 16px;
    margin-bottom: 16px;
}

.modal-input-field.comment::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.modal-input-field:focus-within {
    border-color: var(--var-1-iris);
}

.modal-input-icon {
    position: absolute;
    top: 8px;
    left: 16px;
    width: 18px;
    height: 24px;
    color: var(--var-2-navy-blue);
    fill: var(--var-2-navy-blue);
    transition: fill var(--animation);
}

.modal-input-icon.person {
    top: 11px;
    height: 18px;
}

.modal-input-field:focus-within + .modal-input-icon {
    fill: var(--var-1-iris);
}

.modal-checkbox-label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    gap: 8px;
    color: var(--var-8-light-slate);
    margin-bottom: 24px;
}

.checkbox-icon {
    width: 16px;
    height: 16px;
    padding: 4px 3px;
    border-radius: 2px;
    border: 1px solid var(--var-2-navy-blue);
    fill: transparent;
    transition: fill var(--animation), background-color var(--animation),
    border-color var(--animation);
}

.modal-checkbox:checked + .checkbox-icon {
    fill: var(--var-7-cloud);
    background-color: var(--var-6-ocean);
    border-color: transparent;
}

.modal-privacy-policy-link {
    text-decoration: underline;
    color: var(--var-1-iris);
}

.modal-btn-send {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    min-width: 169px;
    height: 56px;
    border: none;
    line-height: 1.5;
    color: var(--var-4-white);
    background-color: var(--var-1-iris);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color var(--animation);
}

.modal-btn-send:hover,
.modal-btn-send:focus {
    background-color: var(--var-6-ocean);
}

/* ////////////////////// MOBILE MENU WINDOW ////////////////////// */

.mobile-menu-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 80px 35px 40px 40px;
    background-color: var(--var-4-white);

    transform: translateX(100%);
    transition: transform var(--animation);
}

/* Tablet / PC Mobile-Menu-Container */
@media screen and (min-width: 768px) {
    .mobile-menu-container {
        display: none;
    }
}

.mobile-menu-container.is-open {
    transform: translateX(0);
}

.mobile-menu-btn-close {
    background: rgba(231,233,252,0.1);
}

.mobile-tabs-container {
    display: inline-block;
}

.mobile-tabs-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-tabs-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    transition: color var(--animation);
}

.mobile-tabs-item:hover,
.mobile-tabs-item:focus {
    color: var(--var-6-ocean);
}

.mobile-address-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 48px;
}

.mobile-address-item {
    color: var(--var-3-slate);
    transition: color var(--animation);
}

.mobile-address-item:hover,
.mobile-address-item:focus {
    color: var(--var-6-ocean);
}

.mobile-address-item-link.tel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
}

@media screen and (max-width: 427px) {
    .mobile-address-item-link.tel {
        font-weight: 700;
        font-size: 24px;
        line-height: 1.11;
    }
}

.mobile-address-item-link.mail {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.mobile-socials-list {
    gap: 64px;
}

/* Responsive Mobile-Socicals-List */
@media screen and (min-width: 320px) and (max-width: 427px) {
    .mobile-socials-list {
        gap: 28px;
    }
}

/* ///////////////////// PORTFOLIO SECTION //////////////////////// */

.portfolio-section {
    padding: 100px 0px 120px 0px;
}

/* Mobile Portfolio-Section */
@media screen and (max-width: 767px) {
    .portfolio-section {
        padding: 48px 0px;
    }
}

/* Tablet Portfolio-Section */
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .portfolio-section {
        padding-top: 64px;
        padding-bottom: 96px;
    }
}

.portfolio-btns-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
}

/* Mobile Portfolio-Btns-List */
@media screen and (max-width: 767px) {
    .portfolio-btns-list {
        justify-content: flex-start;
        row-gap: 16px;
        margin-bottom: 40px;
    }
}

/* Tablet Portfolio-Btns-List */
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .portfolio-btns-list {
        margin-bottom: 64px;
    }
}

.portfolio-btn {
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 1.5;
    padding: 12px 24px;
    height: 48px;
    color: var(--var-1-iris);
    border: 1px solid var(--var-5-cornflower);
    background-color: var(--var-7-cloud);
    transition: background-color var(--animation), color var(--animation), 
    border-color var(--animation);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--var-4-white);
    background-color: var(--var-6-ocean);
    border-color: transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-imgs-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
}

/* Mobile Portfolio-Imgs-List */
@media screen and (max-width: 767px) {
    .portfolio-imgs-list {
        flex-direction: column;
        justify-content: center;
        gap: 48px;
    }
}

/* Tablet Portfolio-Imgs-List */
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .portfolio-imgs-list {
        row-gap: 72px;
    }
}

/* PC Portfolio-Imgs-List */
@media screen and (min-width: 1200px) {
    .portfolio-imgs-list {
        row-gap: 48px;
    }
}

.portfolio-imgs-item {
    transition: box-shadow var(--animation);
}

/* Mobile Portfolio-Imgs-Item */
@media screen and (max-width: 767px) {
    .portfolio-imgs-item {
        width: 100%;
    }
}

/* Tablet Portfolio-Imgs-Item */
@media screen and (min-width: 768px) {
    .portfolio-imgs-item {
        width: calc((100% - 24px) / 2);
    }
}

/* PC Portfolio-Imgs-Item */
@media screen and (min-width: 1200px) {
    .portfolio-imgs-item {
        width: calc((100% - 48px) / 3);
    }
}

.portfolio-imgs-item:hover,
.portfolio-imgs-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-imgs-item-link img {
    width: 100%;
}

.portfolio-imgs-item-desc {
    border: 1px solid var(--var-5-cornflower);
    border-top: none;
    padding: 32px 16px;
}

.portfolio-title {
    margin-bottom: 8px;
}

.portfolio-imgs-item-type {
    line-height: 1.5;
    color: var(--var-3-slate);
}

.portfolio-overlay-container {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(101%);
    width: 100%;
    height: 100%;
    padding: 40px 32px 0px 32px;
    background-color: var(--var-1-iris);
    transition: transform var(--animation);
}

.portfolio-overlay-text {
    max-width: 296px;
    line-height: 1.5;
    color: var(--var-7-cloud);
}

.portfolio-imgs-item-link:hover .portfolio-overlay,
.portfolio-imgs-item-link:focus .portfolio-overlay {
    transform: translateY(0);
}