// Colors
$var-1: #4D5AE5;
$var-2: #2E2F42;
$var-3: #434455;
$var-4: #FFFFFF;
$var-5: #E7E9FC;
$var-6: #404BBF;
$var-7: #F4F4FD;
$var-8: #AFB1B8;
$var-9: #31D0AA;
$var-10: #FCFCFC;

// RGBA
$var-1-rgba: rgba(231, 233, 252, 0.1);
$var-2-rgba: rgba(46, 47, 66, 0.4);

// Animations
$var-1-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);

// Fonts
$var-1-main-font: Roboto, sans-serif;
$var-2-logo-font: Raleway, sans-serif;

// Borders
$var-1-border: 1px solid #E7E9FC;
$var-2-border: 1px solid #AFB1B8;
$var-3-border: 1px solid #FFFFFF;
$var-4-border: 1px solid rgba(255, 255, 255, 0.3);
$var-5-border: 1px solid rgba(0, 0, 0, 0.1);
$var-6-border: 1px solid rgba(33, 33, 33, 0.2);
$var-7-border: 1px solid #2E2F42;

// Shadows
$var-1-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
$var-2-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$var-3-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
$var-4-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);